{% extends "ViewsApplications/base.html" %}



{% block head %}

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

{% endblock %}


{% block content %}

<h3> 
    Search Students
  </h3>
  <input class="form-control" type="search" 
         name="search" placeholder="Begin Typing To Search Users..." 
         hx-post="/api/get_table" 
         hx-trigger="keyup changed delay:500ms, search" 
         hx-target="#search-results" 
         hx-indicator=".htmx-indicator">
  
  <table class="table">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody id="search-results">
      </tbody>
  </table>


{% endblock %}



{% block script %}





{% endblock %}