{% extends "ViewsApplications/base.html" %}



{% block content %}

<form action="" method="get" accept-charset="utf-8">
  {{filter.form}}
  <button type="submit">Search</button>
  
</form>





<table class="table">
  
  <thead>
    <tr class="">
      <td class="">ID #</td>
      <td class="">Firstname</td>
      <td class="">Lastname</td>
      <td class="">Section</td>
    </tr>
    
    
  </thead>
  
{% for row in table.rows %}


<tr class="">
{% for column, cell in row.items %}

<td class="">{{cell}}</td>

{% endfor %}


<td>
  <button class="btn btn-dark" formaction="/student/{}/{}">View Student</button>
</td>
</tr>


{% endfor %}

  
</table>

{% endblock %}